*{
    padding:0;
  
    margin-top:20px;
}
body{
    background-image: url("package.jpg");
}
.main{
    width:35%;
    height:500px;
    background-color:rgb(5, 8, 7);
    opacity:0.9;
    margin:auto;
    border-radius: 15px;

}
 h1{
    text-align: center;
    color: black;
    font-size:40px ;
}
.nav{
    margin:5px 5px 5px 5px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
   
    list-style: none;

}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    color: yellow;
}
.main h1{
    color: aliceblue;
}

.ticket{
    margin:5px 5px 5px 5px;
    width:75%;
    margin:auto;
    
}
.ticket ul{
    display: flex;
    justify-content: space-between;
    font-size: 23px;

    list-style: none;

}
.ticket ul li a{
    text-decoration: none;
    color: chartreuse;
}
.ticket ul li a:hover{
    color:aliceblue;
}
