body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: url('./pg1.png') no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
}

.flashMessage {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mainReg form {
    color: #fff;
    width: 90%;
}

.mainReg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(127, 255, 212, 0.2);
    height: 450px;
    width: 350px;
    border: none;
    border-radius: 30px;
}

.formName {
    margin-top: 15px;
    margin-bottom: 7px;
    padding-left: 10px;
}

.formName1 {
    margin-top: 20px;
    margin-bottom: 7px;
    padding-left: 10px;
}

.registerBox {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
}

.registerBox input::placeholder {
    padding-left: 10px;
}

.btn1 {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
}

button {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: none;
    background-color: rgb(8, 168, 168);
}

button:hover {
    background-color: skyblue;
}
